
<ion-content class="ion-padding" color="tertiary" >
  
  <!-- header -->
<div class="header">
  <ion-icon name="menu-outline" size="medium"></ion-icon>
  <ion-searchbar class="searchbar" mode="ios" >
    <ion-icon name="search"></ion-icon>
  </ion-searchbar>
</div>

<!-- options slide -->
  <ion-slides   [options]="sliderConfig"  class="ion-padding" >
    <ion-slide class="box1" >
      <ion-icon name="restaurant-outline"></ion-icon>
     <p>Resturants</p>
    </ion-slide>
    <ion-slide class="box1" >
      <ion-icon name="cafe-outline"></ion-icon>
     <p>Coffee Shop</p>
    </ion-slide>
    <ion-slide class="box1" >
      <ion-icon name="fast-food-outline"></ion-icon>
     <p>Resturants</p>
    </ion-slide>
    
  </ion-slides>

  <!-- popular food -->
  <div class="tag">
    <p>Popular Food</p>
    <span>View All</span>
  </div>
  <ion-slides   [options]="sliderConfig"  class="ion-padding" >
    <ion-slide class="box2" >
      <div style="position:absolute; bottom:0; padding:10px">

        <h5 style="font-size: 12px;">Salmon Tartar</h5>
        <p style="font-size:10px">Lorem ipsum, dolor sit amet consectetur</p>
        <p class="price" style="float:left; font-size:10px">100 UAH</p>
        <p class="rate" style="float:right; font-size:10px">* 4.5</p>
      
      </div>
    
    </ion-slide>
    <ion-slide class="box2" >

      <div style="position:absolute; bottom:0; padding:10px">

        <h5 style="font-size: 12px;">Salmon Tartar</h5>
        <p style="font-size:10px">Lorem ipsum, dolor sit amet consectetur</p>
        <p class="price" style="float:left; font-size:10px">100 UAH</p>
        <p class="rate" style="float:right; font-size:10px">* 4.5</p>
      
      </div>
    
    </ion-slide>
    <ion-slide class="box2" >

      <div style="position:absolute; bottom:0; padding:10px">

        <h5 style="font-size: 12px;">Salmon Tartar</h5>
        <p style="font-size:10px">Lorem ipsum, dolor sit amet consectetur</p>
        <p class="price" style="float:left; font-size:10px">100 UAH</p>
        <p class="rate" style="float:right; font-size:10px">* 4.5</p>
      
      </div>
    
    </ion-slide>
    
  </ion-slides>

  <!-- special offers -->
  <div class="tag">
    <p>Special Offers</p>
    <span>View All</span>
  </div>
  <ion-slides   [options]="sliderConfig"  class="ion-padding" >
    <ion-slide class="box3" >
      <span class="discount">-15%</span>
      <div style="position:absolute; bottom:0; padding:10px">

        <h5 style="font-size: 12px;">Salmon Tartar</h5>
        <p style="font-size:10px">Lorem ipsum, dolor sit amet consectetur</p>
        <p class="price" style="float:left; font-size:10px">100 UAH</p>
        <p class="rate" style="float:right; font-size:10px">* 4.5</p>
      
      </div>
    </ion-slide>
    <ion-slide class="box3" > 
<span class="discount">-15%</span>
      <div style="position:absolute; bottom:0; padding:10px">

        <h5 style="font-size: 12px;">Salmon Tartar</h5>
        <p style="font-size:10px">Lorem ipsum, dolor sit amet consectetur</p>
        <p class="price" style="float:left; font-size:10px">100 UAH</p>
        <p class="rate" style="float:right; font-size:10px">* 4.5</p>
      
      </div>
    
    </ion-slide>
    <ion-slide class="box3" >
      <span class="discount">-15%</span>
      <div style="position:absolute; bottom:0; padding:10px">

        <h5 style="font-size: 12px;">Salmon Tartar</h5>
        <p style="font-size:10px">Lorem ipsum, dolor sit amet consectetur</p>
        <p class="price" style="float:left; font-size:10px">100 UAH</p>
        <p class="rate" style="float:right; font-size:10px">* 4.5</p>
      
      </div>
     </ion-slide>
    
  </ion-slides>
 

 
</ion-content>
